= Date.today.strftime("%d/%m %Y")
%h4
  #{@seller.full_name}, #{@seller.org.title}
%hr

.row
  .col-md-3
    %ul.list-group.dashboard-stats-list
      %li.list-group-item
        %span.badge.success= current_seller.offers.accepted.count
        Godkända offerter
      %li.list-group-item
        %span.badge= current_seller.offers.pending.count
        Väntande offerter
      %li.list-group-item
        %span.badge= current_seller.offers.rejected.count
        Avböjda offerter
      %li.list-group-item
        %span.badge= current_seller.contacts.count
        Kontakter


.row
  = pie_chart({"Godkända offerter" => current_seller.offers.accepted.count,"Väntande offerter" => current_seller.offers.pending.count, "Avböjda offerter" => current_seller.offers.rejected.count})
