.page-header
  Säljare

%p
  %strong= model_class.human_attribute_name(:first_name) + ':'
  %br
  = @seller.first_name
%p
  %strong= model_class.human_attribute_name(:last_name) + ':'
  %br
  = @seller.last_name
%p
  %strong= model_class.human_attribute_name(:phone) + ':'
  %br
  = @seller.phone
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @seller.email
%p
  %strong= model_class.human_attribute_name(:org_id) + ':'
  %br
  = @seller.org_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), sellers_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_seller_path(@seller), :class => 'btn btn-primary'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), seller_path(@seller), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
