= form_for @org do |f|
  .form-group
    = f.label :org_num, :class => 'control-label'
    = f.number_field :org_num, :class => 'form-control'
  .form-group
    = f.label :title, :class => 'control-label'
    = f.text_field :title, :class => 'form-control'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), orgs_path, :class => 'btn'
