- model_class = Org
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:org_num) + ':'
  %br
  = @org.org_num
%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @org.title

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), orgs_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_org_path(@org), :class => 'btn btn-primary'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), org_path(@org), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
