%nav.navbar.navbar-default.navbar-fixed-top{ class: ('transparent' if landing) }
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-2", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} TradeGuide '16
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          %li{ class: ('active' if ['sellers', 'buyers'].include?(params[:controller])) }
            = link_to dashboard_path do
              %i.fa.fa-dashboard
              Dashboard
          %li{ class: ('active' if params[:controller] == 'specs' ) }
            = link_to specs_path do
              %i.fa.fa-file-text-o
              Specifikationer
          - if current_user_type == :seller
            %li{ class: ('active' if params[:controller] == 'offers' ) }
              = link_to offers_path do
                %i.fa.fa-clone
                Mina offerter
          %li{ class: ('active' if params[:controller] == 'contacts' ) }
            = link_to contacts_path do
              %i.fa.fa-phone
              Kontakter
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to sign_out_path, method: :delete do
              %i.fa.fa-unlock-alt
              Logga ut
      - else
        %ul.nav.navbar-nav.navbar-right
          %li{ class: ('active' if params[:controller] == 'info' ) }
            = link_to '#' do
              %i.fa.fa-info
              Om tjänsten
          %li{ class: ('active' if params[:controller] == 'org' ) }
            = link_to '#' do
              %i.fa.fa-plug
              Anslut ditt företag
          %li
            = link_to sign_in_path do
              %i.fa.fa-lock
              Logga in

