.col-md-4.offer-box{class: ('accepted' if @offer.accepted?)}
  %p.light.small.pull-right
    OFFERT
  %p.light.small
    = Date.today
    %br
    =@offer.seller.org.title
    %br
    =@offer.seller.full_name

  %fieldset
    %legend Överblick
    %p
      = @offer.description
    %p
      %ul.list-unstyled
        - @offer.spec.custom_checks.each do |attr|
          %li
            - if @offer.custom_checks_ids.include?(attr['id'])
              = attr['title']
              %i.fa.fa-check.text-success
            - else
              %strike.light= attr['title']

    %p
      Totalt: #{ number_with_delimiter(@offer.budget.round, delimiter: ',') } Kr
      %br
      Leverans: #{ @offer.delivery_date.strftime("%d/%m %Y") }

  %fieldset
    %legend Bilagor
    %p
      - @offer.docs.each do |doc|
        = link_to doc.url, class: 'docs' do
          %i.fa.fa-file-text-o
          = doc.file.filename.force_encoding("UTF-8")

  %div.offer-control-btns
    - if current_user_type == :seller && @offer.status == 'pending'
      =link_to edit_offer_path(@offer, spec_id: @offer.spec.id), class: 'btn btn-xs btn-default' do
        %i.fa.fa-edit
        Redigera
      =link_to offer_path, class: 'btn btn-xs btn-danger pull-right', method: :delete, :data => { :confirm => 'Är du säker?'  } do
        %i.fa.fa-close
        Avbryt

    - elsif @offer.status == 'pending'
      - if (@offer.meetings.where(status: 'pending').none?)
        #book-meeting-container.form-group
          #datetimepicker2.input-group.date
            %input.form-control{:type => "text"}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar


          = link_to '#', class: 'btn btn-xs btn-info meeting-btn' do
            %i.fa.fa-calendar
            Boka möte
      - else
        #meeting-info-prefilled
          %span.text-info
            %i.fa.fa-info-circle
              Förfrågan om möte är skickad!
      #meeting-info
      %br
      .space
      = link_to offer_accept_path(@offer), class: 'btn btn-xs btn-success', method: :post do
        %i.fa.fa-check
        Acceptera
      = link_to offer_reject_path(@offer), class: 'btn btn-xs btn-default pull-right', method: :post do
        %i.fa.fa-close
        Avstå
    - elsif @offer.status == 'accepted' && [@offer.seller_id, @offer.spec.buyer_id].include?(current_user.id)
      = link_to contact_path(current_user_type == :seller ? @offer.spec.buyer_id : @offer.seller_id), class: 'btn btn-xs btn-default' do
        %i.fa.fa-comments
        Kontakta

:javascript
  $(function () {
    $('#datetimepicker2').datetimepicker({
      locale: 'sv'
    });

    $('a.meeting-btn').on('click', function(e){
      e.preventDefault();
      var time = $('#datetimepicker2 input').val();
      if(time == null || time == "") {
        alert('Inget datum har valts, var god välj datum för att boka möte.');
        console.log(time);
      }else {
        console.log(time);

        $("#book-meeting-container").hide();
        var params = {
          meeting: {
            seller_id: #{@offer.seller_id},
            buyer_id: #{@offer.spec.buyer_id},
            offer_id: #{@offer.id},
            place: 'Some place',
            time: time
          }
        };
        $.post( "#{book_new_meeting_path}", params, function( data ) {
          $("#meeting-info").html("<span class='text-info'><i class='fa fa-info-circle'></i> Förfrågan om möte är skickad!</span>");
        });
      }
    })
  });
