.row
  .col-md-3.left-panel.panel.panel-default
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-search
        %input{ type: 'search', name: 'filter', placeholder: 'Sök..', class: 'form-control' }

  .col-md-8.right-panel
    %table.table.table-hover.table-clickable
      %thead
        %tr
          %th Org
          %th Namn
          %th Telefon
          %th Email
      %tbody
        - @contacts.each do |contact|
          %tr{ data: { link: "#{contact_path(contact.id)}" } }
            %td= contact.org.title
            %td= contact.full_name
            %td= contact.phone
            %td= contact.email

= render partial: 'shared/table_js'
