%table.table.table-hover.table-clickable
  %thead
    %tr
      %th Org
      %th Rubrik
      %th Deadline
  %tbody
    - specs.each do |spec|
      %tr{ class: "#{'light-extra' if spec.accepted?}", data: { link: "#{spec_path(spec)}" }  }
        %td= spec.buyer.org.title
        %td= spec.title
        %td= spec.deadline.try(:strftime, "%d/%m %Y") || '-'
        - if spec.accepted?
          %td.text-success
            %i.fa.fa-check
            Förhandlad
        %td.right.not-clickable
          - if current_seller.offer_for(spec)
            = link_to 'Min offert', offer_path(current_seller.offer_for(spec).id), :class => "btn btn-default btn-xs"
          - elsif !spec.accepted?
            = link_to 'Skapa offert', new_offer_path(spec_id: spec.id), :class => "btn btn-success btn-xs"
