.row
  .col-md-3.left-panel.panel.panel-default
    .form-group
      = select_tag "spec_status", options_for_select([ ["Ej förhandlad", 'pending'], ["Förhandlad", 'accepted'], ["Förhandlad & ej förhandlad", ''] ], params[:spec_status]), class: 'form-control filter'
    .form-group
      = collection_select(:filter, :category_id, SpecCategory.all, :id, :title, { prompt: 'Alla kategorier', selected: params[:spec_category_id], include_blank: true }, class: 'form-control filter', name: 'spec_category_id', selected: 2)
      %br
      .input-group
        .input-group-addon
          %i.fa.fa-search
        %input{ type: 'search', name: 'filter[query]', placeholder: 'Sök..', class: 'form-control' }


  .col-md-8.right-panel
    - if current_user_type == :buyer
      %div.control-box.pull-right
        = link_to new_spec_path, class: 'btn btn-xs btn-success' do
          %i.fa.fa-plus
          Ny specifikation
    - if current_user_type == :seller
      = render partial: 'spec_table_seller', locals: { specs: @specs }
    - else
      = render partial: 'spec_table_buyer', locals: { specs: @specs }

= render partial: 'shared/table_js'
= render partial: 'shared/filter_controls'
