.row
  .col-md-3.left-panel.panel.panel-default
    - if current_user_type == :buyer
      %div.control-box
        = link_to new_spec_path, class: 'btn btn-xs btn-default' do
          %i.fa.fa-pencil
          Ny specifikation

    .form-group
      = collection_select(:filter, :category_id, SpecCategory.all, :id, :title, { prompt: 'Alla kategorier' }, class: 'form-control')
      %br
      .input-group
        .input-group-addon
          %i.fa.fa-search
        %input{ type: 'search', name: 'filter[query]', placeholder: 'Sök..', class: 'form-control' }


  .col-md-8.right-panel
    - if current_user_type == :seller
      = render partial: 'spec_table_seller', locals: { specs: @specs }
    - else
      = render partial: 'spec_table_buyer', locals: { specs: @specs }

= render partial: 'shared/table_js'
