.page-header
  %h2
    Specifikation

%p 
  %strong
    Skapad av
    = @spec.buyer.first_name
    = @spec.buyer.last_name
%p
  = @spec.title
%p
  = @spec.description

.form-actions
  = link_to 'Redigera', edit_spec_path(@spec), :class => 'btn btn-primary'
  = link_to 'Avbryt', spec_path(@spec), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
