.row
  .col-md-6
    = form_for @offer, multipart: true do |f|
      .form-group
        = f.label :description, 'Beskrivning', :class => 'control-label'
        = f.text_area :description, rows: 5, :class => 'form-control'
      .row
        .col-md-6
          .form-group
            = f.label :budget, 'Pris totalt', :class => 'control-label'
            .input-group
              .input-group-addon Kr
              = f.number_field :budget, :class => 'form-control', value: 0
      .form-group
        = f.label :delivery_date, 'Leverans', :class => 'control-label'
        = f.date_select :delivery_date, :class => 'form-control'
      .form-group
        %span.btn.btn-default.btn-file
          %i.fa.fa-upload
          Dokument
          = f.file_field :docs, multiple: true
          = f.hidden_field :docs_cache
      .form-group
        = f.hidden_field :spec_id, { value: @spec.id }
      %br
      %br
      .form-actions
        = f.submit 'Skapa offert', :class => 'btn btn-success'
        = link_to 'Avbryt', offers_path, :class => 'btn'
