.row
  .col-md-4
    %p
      %strong Inköpare: #{ @offer.spec.buyer.full_name }, #{ @offer.spec.org.title }
      %br
      %strong Önskat leverans-datum: #{ @offer.spec.try(:delivery_date) }
      %hr
    %p
      = @offer.description
    %p
      Budget: #{ @offer.budget }
      %br
      Leverans: #{ @offer.delivery_date }

