.row
  .col-md-6.offer-box
    %p.light.small.pull-right
      OFFERT
    %p.light.small
      =Date.today
      %br
      =@offer.seller.org.title
      %br
      =@offer.seller.full_name

    %p
      = @offer.description
    %p
      Budget: #{ @offer.budget.round } Kr
      %br
      Leverans: #{ @offer.delivery_date }
    %p.pull-left
      - if @offer.status == 'pending'
        %span.label.label-warning
          Väntar svar
      - elsif @offer.status == 'accepted'
        %span.label.label-success
          Accepterad
      - else
        %span.label.label-danger
          Nekad
    %p.pull-right
      - if current_user_type == :seller
        =link_to 'Redigera', edit_offer_path(@offer, spec_id: @offer.spec.id), class: 'btn btn-xs btn-default'
        =link_to 'Avbryt', offer_path, class: 'btn btn-xs btn-danger', method: :delete, :data => { :confirm => 'Är du säker?'  }
      - else
        = link_to '#', class: 'btn btn-xs btn-success' do
          %i.fa.fa-check
          Acceptera
        = link_to '#', class: 'btn btn-xs btn-default' do
          %i.fa.fa-close
          Avstå
